* {
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
   color: darkslategrey;
}

h1 {
    font-size: 4rem;
}

.container {
    margin: auto;
    width: 90%;
}

.header {
    clear: both;
    width: 100%;
    color: darkslategrey;
    font-size: 1rem;
    padding: 1rem;
    border-bottom: .25rem solid darkslategrey;
}

.main {
    width: 100%;
}

img {
    width:65%;
    float: left;
}

.information {
    width: 35%;
    float: right;
}

.footer {
    width: 100%;
    height: 1em;
    border-top: 0.25em solid darkslategrey;
    clear: both;
}

@media only screen and (max-width: 844px) {

    h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* For mobile phones: */
    .information {
        width: 100%;
    }

    img {
        width: 100%;
    }

    p {
       font-size: 1rem;

    }
    h1 {
        font-size: 3rem;
    }


    h2, h3 {
        font-size: 1.5rem;
    }

    .countries {
        width: 60%;
        float: left;
    }

    .legend {
        width: 40%;
        float: right;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 576px;
    }

    /* For mobile phones: */
    .information {
        width: 100%;
    }

    img {
        width: 100%;
    }

    h1 {
        font-size: 1.5rem;
    }


    h2, h3 {
        font-size: 1.25rem;
    }

    p {
       font-size: 0.8rem;

    }

    .countries {
        width: 100%;
    }

    .legend {
        width: 100%;
    }

}